@charset "utf-8";
/* CSS Document */

/*Sacar el recuadro amarillo de Google Chrome*/
*:focus {
outline: none;
}

.barraDeBusquedaContainer{
/*height: 50px;*/
/*background-color:#617c8c;*/
/*background-color:#333333;*/
}
.barraDeBusqueda{ 
	text-align: center;
	/*background-color:#617c8c;*/
/*background-color:#555555;*/
	background-repeat:no-repeat;
	background-position:center;
	width: 920px;
	height: 30px;
	margin-right: auto;
	margin-left: auto;
	margin-top:0px;
	margin-bottom:0px;
	position:absolute;
	top:15px;
	left:330px;
	border:solid;
	border-color:#000000;
	border-width:0px;
	
	/*behavior:url(../lib/border-radius.htc);
	border-radius: 6px;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	-o-border-radius: 6px;
	-khtml-border-radius: 6px;*/
} 

.orderBy{
	
	position:absolute;
	top:6px;
	left:210px;
}

.radioButonText{
	color:#EEEEEE;
	font-family:font-family: Arial, Georgia, "Times New Roman", serif;
	font-size:13px;
	cursor:default;
}


.inputBox{
	font-family:font-family: Arial, Georgia, "Times New Roman", serif;
	font-size:18px;
	color:#000000;
	background-color:#FFFFFF;
	border-right:hidden;
	border-bottom-style:solid;
	border-left-style:solid;
	border-top-style:solid;
	border-width:0px;
	border-color:#FFFFFF; 
	height: 33px;
	width:190px;
	padding-left:10px;
	position:absolute;
	top: 7px;
	left:5px;
	behavior:url(../lib/border-radius.htc);
	border-radius: 14px;
	-moz-border-radius: 14px;
	-webkit-border-radius: 14px;
	-o-border-radius: 14px;
	-khtml-border-radius: 14px;

}
.searchButton{
	
	width: 75px;
	height: 35px;	
	border-right:hidden;
	border-bottom-style:solid;
	border-left-style:hidden;
	border-top-style:solid;
	border-width:0px;
	border-color:#EEEEEE;
	position:absolute;
	top:7px;
	left:190px;
	cursor: pointer;
	z-index: 2;

}
.botonPreferencias{
	width: 35px;
	height: 35px;	
	
	border:solid;
	border-width:0px;
	border-color:#000000;
	background:url(../img/preferences.png);
	cursor:pointer;
	position:absolute;
	margin-top:7px;
	left:300px;
	
	
	behavior:url(../lib/border-radius.htc);
	border-radius: 14px;
	-moz-border-radius: 14px;
	-webkit-border-radius: 14px;
	-o-border-radius: 14px;
	-khtml-border-radius: 14px;
}
