@charset "utf-8";
/* CSS Document */

.carouselContainer{
	visibility:hidden;
	background-color:#FFFFFF;
	margin-left:auto;
	margin-right:auto;
	width:900px;
	padding:6px 0px 6px 0px;
	opacity: 0.9;
    -moz-opacity: 0.9;
    filter: alpha(opacity=90);
	
	behavior:url(../lib/border-radius.htc);
	border-radius: 9px;
	-moz-border-radius: 9px;
	-webkit-border-radius: 9px;
	-o-border-radius: 9px;
	-khtml-border-radius: 9px;
}