body {
  padding-top: 50px;
  font-family: 'Droid Sans', sans-serif;
  min-height: 100%;
 	background-color: #121417;
	background-image: -moz-linear-gradient(top, #060606, #252a30);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#060606), to(#252a30));
	background-image: -webkit-linear-gradient(top, #060606, #252a30);
	background-image: -o-linear-gradient(top, #060606, #252a30);
	background-image: linear-gradient(to bottom, #060606, #252a30);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff060606', endColorstr='#ff252a30', GradientType=0);
 }
.starter-template {
  padding: 40px 15px;
  text-align: center;
}
.headerBar{
	padding-bottom: 13px;	
}
.dengoLogo {
 	margin-left: 60px; 
 	margin-top: 11px;
}
.headerBarItems{
	padding-top: 14px;
}
.index-header-list {
	margin-right: 0;
	font-size: 18px;
}
.searchBoxAndButton{
	margin-top: inherit;
}
.searchButton{
	background-color: rgba(92, 92, 92, 0.75);
	color: #FFFFFF;
	border: none;
	height: 34px;
}
.headerMobileButton{
	margin-top: 27px;
	border: solid;
	border-color: #3D3D3D;
}
.newsImage {
	alt: 140x140;
	height: 100px;
}
.dengoDelDiaTitle{
	color: #FFFFFF;
	text-align: center;
}
.dengoDelDiaList{
	font-size: 18px;
}
.nav>li> .dengoDelDiaNews{
	border: 1px solid rgb(72, 72, 72);
}
.trendingNewsContainer{
	background:#333333;
	position:relative;
	text-align:left;	
	margin-top:-14px;
	word-wrap: break-word;
	border-radius: 9px;
	-moz-border-radius: 9px;
	-webkit-border-radius: 9px;
	-o-border-radius: 9px;
	-khtml-border-radius: 9px;
	color: #33b5e5;
	border: none;
}
.searchContainer {
	background-color: #333333;
	color: #33b5e5;
	font-size: 18px;
}
.searchListTitle{
	font-size: 20px;
	display: -webkit-box;
}
.searchListResume{
	font-size: 16px;
}